<app-navbar-admin></app-navbar-admin>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-xl-12 col-md-12 col-lg-12 col-xxl-12">
            <table class="table table-bordered">
                <thead>
                  <tr>
                    
                    <th >Product</th>
                    <th >Image</th>
                    <th >Category</th>
                    <th>Price</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let i of data" >
                    
                    <td>{{i.name}}</td>
                    <td>{{i.image}}</td>
                    <td>{{i.category}}</td>
                    <td>{{i.price}}</td>
                  </tr>
                 
                </tbody>
            </table>
        </div>
    </div>
</div>
