<app-navbar-admin></app-navbar-admin>

        <div class=" bg-dark " style="background-color: black;height:800px" >
            <div class="row">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <div class="row g-3 mt-5">
                        <div class="align-item-center ml-3">
                            <h3 class="text-center text-success">ADD PRODUCT</h3>
                        <div class="col col-12 col-sm-12 col-xl-6 col-xxl-6 col-md-12 col-lg-6">
                            <label for="" class="form-label text-light">Name</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="col col-12 col-sm-12 col-xl-6 col-xxl-6 col-md-12 col-lg-6">
                            <label for="" class="form-label text-light">Image</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="col col-12 col-sm-12 col-xl-6 col-xxl-6 col-md-12 col-lg-6">
                            <label for="" class="form-label text-light">Category</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="col col-12 col-sm-12 col-xl-6 col-xxl-6 col-md-12 col-lg-6">
                            <label for="" class="form-label text-light">Price</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="col col-12 col-sm-12 col-xl-12 col-xxl-12 col-md-12 col-lg-12 float-start mt-4">
                            <button class="btn btn-success">ADD</button>
                        </div>

                        </div>
                        
                       
                    
                    </div>
                </div>
            </div>    
        </div>
      
